/*Isabel Ramos*/
table {
    width: 680px;
}
th
{
    text-align: left;
    font-display: bold;
}
tr
{
    text-align: left;
}
table, th, td
{
    border-style: solid;
    border-color: gray;
    background-color: white;
}
html
{
    background-color: lightblue;
}
h1
{
    text-align: left;
}